/* authForm styles */
/* authForm styles */
/* authForm styles */

#auth .authheader {
  margin: 0;
  padding: 3% 0 1% 0;
  text-align: center;
  font-size: 30px;
  font-weight: lighter;
  color: rgb(32, 1, 18);
}
.authFormBody {
  width: 30%;
  margin: 1% auto;
  margin-top: 0;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 0 0 10px 10px;
  padding: 20px 20px 5px 20px;
  background: rgb(247, 245, 246);
  opacity: 0.8;
  color: rgb(131, 3, 56);
}
.authForm {
  display: flex;
  flex-direction: column;
}
.authFormTitle {
  width: 30%;
  margin: 1% auto;
  margin-bottom: 0;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 10px 10px 0 0;
  font-size: 25px;
  text-align: center ;
  background: rgb(94, 1, 40);
  color: rgb(216, 216, 216);
  padding: 20px;
}
.authForm input {
margin-top: 5px;
margin-bottom: 10px;
height: 30px;
border-radius: 5px;
padding: 2px 10px;
font-size: 20px;
color: rgb(58, 58, 58)
}
.authForm label {
  font-weight: bold;
  }
.authSubmit {
  width: 30%;
  height: 30px !important;
  margin: 5px auto;
  font-size: 15px;
  cursor: pointer;
  background: rgb(255, 255, 255);
  color: rgb(92, 1, 43);
  transition: 0.3s;
}
.authSubmit:hover {
  background: rgb(92, 1, 43);
  color: rgb(255, 255, 255);
}
.authRedirect {
  width: 30%;
  margin: 1% auto;
  text-align: center;
  color: rgb(216, 216, 216);
}
 #auth{
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.6);
  background-image: url(./images/fashion.jpg);
  background-size: cover;
}


/* body styles*/
/* body styles*/
/* body styles*/

body {
  font-family: 'Nunito', sans-serif;
}
main {
 min-height: 80vh;
}

/* catalog side nav styles */
/* catalog side nav styles */
/* catalog side nav styles */

.catSideNavBody {
  background: rgb(241, 241, 241);
  min-height: 600px;
  width: 250px;
  display: flex;
  flex-direction:column;
}
.departmentpics {
  flex: 1;
}
.departmentpics h1 {
  margin: 20px 5px 0 5px;
  font-size: 6em;
  text-align: center;
}
#departmentSelect {
  height: 40px;
  font-size: 15px;
  margin: 5px auto;
  width: 70%;
  display: block;
}
.categoryItems {
  display: block;
  flex: 1;
  padding: 0;
}
 .categoryItem {
  border: 1px solid black;
  background: rgb(235, 235, 235);
  list-style-type: none;
  width:70%;
  margin: 20px auto;
  padding: 4px 4px;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
}
.categoryItem:hover {
  background: rgb(124, 30, 66);
  color: white;
}

/* Catalog styles  */
/* Catalog styles */
/* Catalog styles */
.catalogBody {
  display: flex;
  flex-direction: row;
  padding: 20px;
}
.catalogCardsSection {
  width: 80%;
  margin: 2px auto;
  display: flex;
  flex-direction: column;
}
.catalogCardHeader {
  text-align: center;
  font-size: 30px;
}
.catalogCards {
  margin: 2px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center
}


/* pagination Styles 😎 */
/* pagination Styles */
/* pagination Styles */
.paginationItem{
  width: 40px;
  height: 40px;
  background: rgb(231, 231, 231);
  color: rgb(70, 22, 50);
  margin: 5px 10px;
  text-align: center;
  vertical-align: center;
  cursor: pointer;
}
.paginationItem:hover{
  background: rgb(70, 22, 50);
  color: rgb(231, 231, 231);
}
.paginationItem:active {
  color: yellow;
}
.paginationItems{
  display: flex;
}
.paginationBody{
  margin: 20px auto 60px auto;
  display:flex;
  flex-direction:row;
  justify-content: center
}

/* shirtCard styles */
/* shirtCard styles */
/* shirtCard styles */
.shirtCardBody {
  margin:30px 10px;
  width: 250px;
  height: 300px;
  border: 2px solid rgb(133, 5, 58);
  border-radius: 5px 20px;
  cursor: pointer;
  transition: transform 0.4s;
}
.shirtCardBody:hover {
  transform: scale(1.02);
}
.shirtCardBody img {
  width: 90%;
  height: 70%;
  display: block;
  margin: 10px auto;
}
.shirtCardName {
  text-align: center ;
  font-size: 20px;
  margin: 1px 0;
}
.shirtCardPrice {
  text-align: center ;
  font-size: 20px;
  font-weight: bold;
  margin: 5px 0;
  color: rgb(133, 5, 58);
}


/* shirtDetail styles */
/* shirtDetail styles */
/* shirtDetail styles */
.shirtDetailBody {
  background: rgb(241, 241, 241);
  display: flex;
  flex-direction: row;
}
.imageSection {
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-evenly;
 height: 600px;
 width: 45%;
}
.attributeSection {
  border-left: 1px solid rgb(185, 185, 185);
  padding: 20px;
  /* height: 600px; */
  width: 55%
}
.itemDescription {
  border-bottom: 1px solid rgb(185, 185, 185);
  font-size: 22px;
}
.imageTitle {
  align-content: center;
  color: rgb(53, 52, 52);
}
.imageSection img {
  display: block;
  max-height: 400px;
  width: 70%;
} 
.coreAttributes {
  display: flex;
  flex-direction: column;
  background: rgb(228, 228, 228);
}
.shirtActionButtons {
  display: flex;
  flex-direction: row;
  padding: 30px 0px 0px 20px;
  margin: 15px;
  font-size: 15px;

}
.shirtPrice {
  padding: 30px 0px 0px 20px;
  margin: 15px;
  font-size: 15px;
  color: rgb(48, 48, 48);
}
#shirtActualValue {
 color: rgb(146, 146, 146);
 margin-left: 20px;
 text-decoration: line-through;

}
#shirtDiscountValue {
  font-size: 22px;
  margin-left: 20px;
  color: rgb(204, 7, 89);
}
#discountPercentage {
  background: rgb(204, 7, 89);
  color: rgb(240, 240, 240);
  padding: 5px;
}
.payButton {
  margin-right: 20px;
  font-size: 15px;
  padding: 5px 10px;
  cursor: pointer;
}
.payButton:hover {
  background: green;
  color: rgb(235, 235, 235);
}

.greyText {
  color: rgb(146, 146, 146);
}
.specificAttributeSection {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: left;
  padding: 20px 0px 0px 20px;
}
.colorSelectionLabel {
  font-size: 15px;
  font-weight: bold;
  color: rgb(75, 75, 75);
  margin: 15px ;
}
.colorCheckBox {
  width: 30px;
  height: 30px;
  margin: 10px;
  cursor: pointer;
}
.colorSelected {
  width: 50px;
  height: 30px;
  margin: 15px 10px;
  cursor: pointer;
}
#selectedColorText {
  font-size: 18px;
  margin: 15px 10px;
  color: grey;
}
#selectedQuantity {
  margin: 15px 10px;
  height: 30px;
  padding: 0 10px;
  width: 50px;
  font-size: 15px;
}
.sizeCheckBox {
  margin: 15px 10px;
  border: 1px solid black;
  padding: 5px 10px;
  font-size: 15px;
  border-radius: 4px;
  cursor: pointer;
}
.sizeSelectionLabel {
  font-size: 15px;
  font-weight: bold;
  color: rgb(75, 75, 75);
  margin: 20px 15px ;
}
#colorWhite {
  background: white;
}
#colorBlack {
  background: black;
}
#colorRed{
  background: red;
}
#colorOrange {
  background: orange;
}
#colorYellow {
  background: yellow;
}
#colorBlue {
  background: blue;
}
#colorGreen {
  background: green;
}
#colorIndigo {
  background: indigo;
}
#colorPurple {
  background: purple;
}


/* navbar styles*/
.navBody {
  background: rgb(94, 1, 40);
  display: flex;
  flex-direction: row;
  padding: 10px 100px;
  color: rgb(209, 209, 209);
}
.leftNavbar {
  flex-grow: 1;
}
.rightNavbar {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: flex-end;
}
.navItem {
margin-left: 10px;
margin-right: 20px;
transition: 0.3s;
}
.navItem:hover {
  cursor: pointer;
  border: 1px solid white;
  border-radius: 0px 5px;
  padding: 2px 5px;

}
.navLogo {
  color: rgb(214, 214, 214);
  cursor: pointer;
  border: 1px solid rgb(214, 214, 214);
  padding:5px 10px;
  border-radius: 0 10px;
}

/* footer styles */
.footerBody {
  color: rgb(201, 198, 198);
  background: rgb(37, 1, 21);
  display: flex;
  flex-direction: row;
  padding: 10px 100px;
}

.leftFooter {
  width: 200px;
  flex-grow: 2;
}
.rightFooter {
  flex-grow: 4;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly

}
.footerItems {
  list-style-type: none;
  padding: 0 !important;
}
.footerItem {
  margin: 15px 0;
}
.footerLinks {
  margin-left: 50px;
}
.footerLinks .footerItem:hover {
  color: wheat;
  cursor: pointer;
}

/* utility styles */
.white-text {
  color: rgb(207, 206, 206);
  text-decoration: none;
  font-style: italic;
}

.white-link {
  text-decoration: none;
  color: rgb(238, 235, 235);
}